*{
    box-sizing: border-box;
}
.sec-box3{
    font-size: 1.3rem;
    display:grid;
    grid-template-columns: auto 0.3fr 1fr;
    box-shadow: 0px 0px  8px 0px white;
    width:100%;
    height:74vh;

  
    .item-box{
        box-shadow: 2px 0px  8px 0px white;
        overflow-y: scroll;
        
    }
    .item-box.message{
         overflow: scroll;
    
    }
}
@media (width <=450px){ 
    .phone.sec-box3{
         font-size:1rem;
         grid-template-columns: 0.2fr 0.32fr 0.8fr;
    }
    .text_f1.phone {
        text-align:center;
    }
    .pad.phone {
        padding:0.5rem;
    }
    .message{
        .phone.show-msg{
            padding:0.3rem;
        }
        .phone.msg-block{
            gap:0.3rem;
            .msg-me{

            }
            .msg-other{

            }
        }
    }
    
}


.pad {
    padding: 1rem 1rem ;
}
.text_f1{
    text-align: center;
    box-shadow: 0px 0.5px  7px 0px rgba(28, 27, 27, 0.204);
}
.no-display{
    display: none;
}





.message{
   
    .input-msg{
        
        height:15%;
        .input-me{
            width:80%;
            color:black
            
        }
     }
    .show-msg{
        height:85%;
        border-bottom: 1px solid black;
    
        padding:0.5rem 1rem;
        overflow-y: auto;
    

    }
  
}
.msg-block{
    display:flex; 
    flex-direction: row-reverse;
    gap:1rem;
    align-items: center;
    .msg-me{
        background-color :rgb(152, 152, 213);
        padding:0.5rem;
        border-radius: 20%;

        margin-left: 10px;
    }
    .msg-other{
        background-color: whitesmoke;
        color:black;
        padding:0.5rem;
        border-radius: 20%;
    }
    .msg-label{
        border: 1px solid black;
        border-radius: 50%;
        font-size: 1.6rem;
        padding:3px 10px;
    }
    
}

.msg-block.other{
    flex-direction: row;
}
.msg-block + .msg-block{
    margin-top: 1rem;
}




.no-button {
background: none;
border: none;
outline: none;
}



