.nav-item + .nav-item{
    margin-left: 2.4rem;
}
.text {
    font-size:2rem;
}
@media (width <=550px){
    .text.phone{
        font-size: 1.6rem;
    }
    
}
.sign{
    max-width:90%;
    width: fit-content;
}
.div_adjust{
    flex-grow: 1;
    display:flex;
    flex-direction: column;
    
}
.final_scroll_adjust{
    position:absolute;
    height:100%;
    border:1px solid none;
    overflow-y:scroll ;
}
.nav_adjust {
    border:1px solid  none;
    padding-bottom: 0px;
    padding-top: 0px;
    line-height: 100%;
}

.take_top {
    display:relative;

    
}

.bb{
    width: 98%;
    
    
}
.tar_block{
    margin-top:1.5rem;

}
.tar_block:first-child{ 
    margin-top:0px;
}
.sec-box{
    display:grid;
    grid-template-columns: auto 0.64fr;
    box-shadow: 0px 0px  8px 0px white;
   
    
   
    .item-box.one{ 
        box-shadow: 3px 0px  8px 0px white;
        overflow-y: scroll;
    }
    
    
}
.sec-box2{
    
    box-shadow: 0px 0px  8px 0px white;
   
}




.max{
    width:max-content ;
}
.unactive.active{

    text-decoration: solid underline orange;
    font-weight: 700;
}
.unactive {
     text-decoration-line:none;
     color: #0C356A;
}
.cate {
    box-sizing: border-box;
    padding:4px; 
    border-radius: 20px;
    text-align: center;
    box-shadow: 0px 0px 4px black;
    
}

.con{
        margin-bottom: 1rem;
        display:grid;
        grid-template-columns: repeat(auto-fill,minmax(20%,auto));
        grid-row-gap: 10px;
        grid-column-gap: 10px; 
      
       
}


.warn-admin{
    transform: scale(0);
    transition: 200ms ease-in-out;
    font-size: 0.8rem;
    width: fit-content;
}
.warn-admin.active{
    transform: scale(1);
}

/*     */

