*{
    box-sizing: content-box;
}


.text {
    font-size:2rem
}
.home-text{
    font-size:2.2rem;
}
@media (width <=550px){
    .text.phone{
        font-size: 1.6rem;
    }
    .home-text.phone{
        font-size: 1.7rem
    }
    .user_img.phone{
        width:clamp(3rem,3rem,4rem);
    }
}
 
li.nav-item + li.nav-item{
    margin-left:0rem;
}

.tuser_img{
    width:100%;
    
}
.user_img {
    display: flex;
    max-width:3rem;
    max-height:3rem;
    border-radius: 50%;
    overflow: hidden;
    color:none;
  
}

